NET "clk50" PERIOD = 20 ns | LOC = "K3"; # IO_L42P_GCLK25_TRDY2_M3UDM
NET "LEDS<0>" LOC="P11";
NET "LEDS<1>" LOC="N9";
NET "LEDS<2>" LOC="M9";
NET "LEDS<3>" LOC="P9";
NET "LEDS<4>" LOC="T8";
NET "LEDS<5>" LOC="N8";
NET "LEDS<6>" LOC="P8";
NET "LEDS<7>" LOC="P7";

NET "SW<0>" LOC="L1";
NET "SW<1>" LOC="L3";
NET "SW<2>" LOC="L4";
NET "SW<3>" LOC="L5";

NET "FTDI_D<0>" LOC="M7";
NET "FTDI_D<1>" LOC="N6";
NET "FTDI_D<2>" LOC="M6";
NET "FTDI_D<3>" LOC="P5";
NET "FTDI_D<4>" LOC="N5";
NET "FTDI_D<5>" LOC="P4";
NET "FTDI_D<6>" LOC="P2";
NET "FTDI_D<7>" LOC="P1";
NET "FTDI_RXE" LOC="N3";
NET "FTDI_TXE" LOC="N1";
NET "FTDI_SIWUA" LOC="M3";
NET "FTDI_WR" LOC="M2";
NET "FTDI_RD" LOC="M1";
