*.xise
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*.html
*.log
*.cmd
*.prj
*.bgn
*.bin
*.bit
*.bld
*.cmd_log
*.drc
*.gise
*.lso
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prg
*.ptwx
*.srx
*.sym
*.syr
*.twr
*.stx
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.csv
*.txt
*.xml
*.msgs
*.xmsgs
*.ini
*.tcl
xlnx_auto_0_xdb
xst
_ngo
_xmsgs
iseconfig
isim
