NET "clk50" PERIOD = 20 ns | LOC = "K3"; # IO_L42P_GCLK25_TRDY2_M3UDM
#NET "CLK32" PERIOD = 31.25 ns | LOC = "J4"
#NET "LEDS<0>" LOC="P11" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<1>" LOC="N9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<2>" LOC="M9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<3>" LOC="P9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<4>" LOC="T8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<5>" LOC="N8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<6>" LOC="P8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<7>" LOC="P7"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;

#NET "SW<0>" LOC="L1" | IOSTANDARD=LVTTL | PULLUP;
#NET "SW<1>" LOC="L3" | IOSTANDARD=LVTTL | PULLUP;
#NET "SW<2>" LOC="L4" | IOSTANDARD=LVTTL | PULLUP;
#NET "SW<3>" LOC="L5" | IOSTANDARD=LVTTL | PULLUP;

# ADC
NET "AD_DOUT" LOC="H5" | IOSTANDARD=LVTTL;
NET "AD_DIN"  LOC="H4" | IOSTANDARD=LVTTL;
NET "AD_CS"   LOC="F6" | IOSTANDARD=LVTTL;
NET "AD_SCLK" LOC="G6" | IOSTANDARD=LVTTL;

# FTDI
#NET "FTDI_RXF"   LOC="N3" | IOSTANDARD=LVTTL;
NET "FTDI_TXE"   LOC="N1" | IOSTANDARD=LVTTL;
NET "FTDI_SIWUA" LOC="M3" | IOSTANDARD=LVTTL;
NET "FTDI_WR"    LOC="M2" | IOSTANDARD=LVTTL;
NET "FTDI_RD"    LOC="M1" | IOSTANDARD=LVTTL;
NET "FTDI_D<0>"  LOC="M7" | IOSTANDARD=LVTTL;
NET "FTDI_D<1>"  LOC="N6" | IOSTANDARD=LVTTL;
NET "FTDI_D<2>"  LOC="M6" | IOSTANDARD=LVTTL;
NET "FTDI_D<3>"  LOC="P5" | IOSTANDARD=LVTTL;
NET "FTDI_D<4>"  LOC="N5" | IOSTANDARD=LVTTL;
NET "FTDI_D<5>"  LOC="P4" | IOSTANDARD=LVTTL;
NET "FTDI_D<6>"  LOC="P2" | IOSTANDARD=LVTTL;
NET "FTDI_D<7>"  LOC="P1" | IOSTANDARD=LVTTL;
