NET "CLK50" PERIOD = 20 ns | LOC = "K3"; # IO_L42P_GCLK25_TRDY2_M3UDM
NET "CLK32" PERIOD = 31.25 ns | LOC = "J4";

# DIP Switches
#NET "SW<1>"   LOC="L1" | IOSTANDARD=LVTTL | PULLUP;
#NET "SW<2>"   LOC="L3" | IOSTANDARD=LVTTL | PULLUP;
#NET "SW<3>"   LOC="L4" | IOSTANDARD=LVTTL | PULLUP;
#NET "SW<4>"   LOC="L5" | IOSTANDARD=LVTTL | PULLUP;

#NET "LEDS<0>" LOC="P11" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<1>" LOC="N9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<2>" LOC="M9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<3>" LOC="P9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<4>" LOC="T8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<5>" LOC="N8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<6>" LOC="P8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
#NET "LEDS<7>" LOC="P7"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;

NET "PORTC11" LOC="M11" | IOSTANDARD=LVTTL;
NET "PORTF10" LOC="H2" | IOSTANDARD=LVTTL | PULLDOWN;
